html {
  height: 100vh;
  block-size: 100%;
}

.page {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  background: var(--header-image);
  background-color: var(--main-background-color);
  background-attachment: fixed;
}

header {
  position: relative;
  min-height: 100vh;
  padding: 0 10px;
  padding-block: 10px;
}

@media (768px <= width) {
  header {
    padding: 20px 20px 20px 0;
  }
}

.header {
  display: grid;
  grid-template-rows: min-content 2fr 1fr min-content;
}
@media (768px <= width < 1024px) {
  .header {
    grid-template-rows: min-content 1fr 1fr min-content;
  }
}

.header-lamp-zone {
  position: absolute;
  top: 10px;
  right: 40px;
  display: flex;
  justify-self: end;
  justify-content: flex-end;
  align-items: center;
  gap: 3px;
  width: 60px;
  color: var(--rec-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-align: center;
}

@media (768px <= width) {
  .header-lamp-zone {
    top: 20px;
    padding-inline-end: 10px;
  }
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-self: end;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--button-color);
  border-block-start: 1px solid var(--button-color);
  background: url(../images/Ellipse.png) no-repeat center / cover;
}

@media (768px <= width) {
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
}

.header__theme-menu {
  display: grid;
  padding-block-start: 16.5vw;
  padding-block-end: 9px;
}

@media (768px <= width < 1024px) {
  .header__theme-menu {
    padding-inline-start: 20px;
    padding-block-start: 170px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    width: fit-content;
    padding-inline-start: 20px;
    padding-block: 0;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 13px;
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
  }
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-button-color);
  cursor: pointer;
}

.header__theme-menu-button:disabled {
  outline: 1px solid var(--button-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline 1px solid var(--button-color);
}

.header__theme-menu-item {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 26px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 18px;
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0 13px;
  padding-block: 0;
  color: var(--button-color);
  background-color: transparent;
}

.cover__title {
  align-self: center;
  color: var(--title-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 #ff0070;
}

@media (768px <= width < 1024px) {
  .cover__title {
    padding-block-start: 80px;

    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (1024px <= width) {
  .cover__title {
    align-self: end;
    padding-block-end: 50px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.header__epigraph {
  display: grid;
  grid-template-columns: minmax(355px, clamp(355px, 48vw, 494px));
  justify-self: end;
  align-content: start;
}

@media (1024px <= width) {
  .header__epigraph {
    align-content: center;
    padding-block-end: 20px;
  }
}

@media (768px <= width < 1024px) {
  .header__epigraph {
    align-content: center;
    padding-block-end: 50px;
  }
}

.decorated-zone::after {
  content: "";
  display: flex;
  align-self: end;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--button-color);
  border-block-end: 1px solid var(--button-color);
}

@media (768px <= width) {
  .header.decorated-zone::after {
    margin-inline-start: 20px;
  }
}

.title-decor {
  display: flex;
  height: fit-content;
  color: var(--color-text-with-background);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 23.4px; /* 130% */
  background-color: var(--title-background-color);
}

@media (768px <= width < 1024px) {
  .header__epigraph .title-decor {
    max-width: 364px;
  }
}

main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

@media (668px < width) {
  main {
    gap: 80px;
    padding: 60px 20px;
  }
}

.section__title {
  color: var(--section-title-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 23.4px;
}

.section__text {
  color: var(--main-text-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 23.4px;
}

.section__hard__concentration {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (1024px > width >= 768px) {
  .section__hard__concentration {
    grid-template-columns: 1fr 2fr;
  }
}

@media (width >= 1024px) {
  .section__hard__concentration {
    grid-template-columns: 1fr 2.06fr;
  }
}

.article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  height: fit-content;
}

.article .title-decor {
  max-width: 100%;
}

@media (width >= 768px) {
  .section__hard__concentration .article {
    grid-column-start: 2;
    grid-column-end: 2;
  }
}

.text__link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--title-background-color);
}

.text__link:focus {
  outline: none;
}

.text__link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.text__link:hover {
  outline: transparent;
  text-decoration: underline var(--main-text-color);
}

.section__reduced__concentration {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (width >= 768px) {
  .section__reduced__concentration {
    grid-template-columns: 1fr 2.04fr;
  }
}

@media (width >= 1024px) {
  .section__reduced__concentration {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (1024px > width >= 768px) {
  .section__reduced__concentration .article {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (width >= 1024px) {
  .section__reduced__concentration .article {
    grid-row-start: 2;
  }
}

.section__gold__fish {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (1024px >width >= 768px) {
  .section__gold__fish {
    grid-template-columns: 1fr 2fr;
  }
}

@media (width >= 1024px) {
  .section__gold__fish {
    grid-template-columns: 1fr 2.06fr;
  }
}

@media (width >= 768px) {
  .section__gold__fish .article {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.section__gold__fish .article .title-decor {
  font-weight: var(--font-weight);
}

.section__gold__fish .article .title-decor:has(+ .title-decor) {
  margin-block-end: 10px;
  font-weight: 700;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery .image {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (width >= 768px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: fit-content 1fr 1fr 1fr;
    gap: 20px;
  }
}

@media (width >= 768px) {
  .gallery .title-decor {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media (width >= 768px) {
  .sunset__image {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (width >= 768px) {
  .ice-cream__image {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }
}

@media (width >= 768px) {
  .tape__image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
  }
}

@media (width >= 768px) {
  .books__image {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

@media (width >= 768px) {
  .street__image {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
  padding: 10px 10px;
}

@media (width >= 768px) {
  .footer {
    padding: 20px 20px;
  }
}

.footer .cover__title {
  justify-self: center;
  align-self: center;
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 0 #ff0070;
}

.footer.decorated-zone::before {
  position: static;
  background: none;
}
