/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
/* stylelint-disable-next-line rule-empty-line-before */
:root{
  --main-background-color: #000028;
  --title-background-color: #FF0070;
  --main-text-color:#F1B2CE;
  --title-color: #DB00FF;
}
