/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
/* stylelint-disable-next-line rule-empty-line-before */
:root{
  --main-background-color: #000028;
  --title-background-color: #FF0070;
  --button-color: #FF0070;
  --color-text-with-background:#000028;
  --main-text-color:#F1B2CE;
  --title-color: #DB00FF;
  --header-image:url(../images/cover-image-dark.png) no-repeat content-box center / cover;
  --rec-color:#FF0070;
}
